
.main-container {
    margin: auto;
    width: 30%;
    height: 50%;
    border: 3px solid green;
    padding: 300px;
}

.women {
    padding: 35px;
    border: 5px solid green;
    position: fixed;
    left: 280px
    
    
}

.women-image-container {
    
    padding: 20px;
    border: 10px solid green;
    
}

.women-flower-container {
    margin-top: 5px;
    padding: 20px;
    border: 10px solid green;
}


.men {
    position: fixed;
    padding: 35px;
    border: 5px solid green;
    right: 280px
}

.men-image-container {
    
    padding: 20px;
    border: 10px solid green;
    
}

.men-flower-container {
    margin-top: 5px;
    padding: 20px;
    border: 10px solid green;
}
